if (consultationMedical)
	//- VARIABLES
	-var title = 'Consultations médicales', id = 'consultationMedical'
	//- LAYOUTS
	.col-12
		.card
			.card-body
				.d-flex.align-items-center.justify-content-between
					.d-flex.align-items-center.fw-bold
						ion-icon.text-1.fs-6.me-2(name='pulse-outline')
						span.fs-7.text-dark= title
					//- download pdf / excel
					.btn-group.shadow-0(role='group')
						button.btn.btn-sm.btn-light(type='button' data-bs-toggle='dropdown' aria-expanded='false')
							<ion-icon class="fs-5" name="download-outline"></ion-icon>
						ul.dropdown-menu.shadow.border
							li
								button.dropdown-item.downloadSortiePdf(type='button' data-id=id data-region=document.region data-province=document.province data-csr=document.csr data-category=document.category data-trimestre=trimestre data-createdat=data.sortie ? data.sortie.createdAt : data.trimestre.createdAt data-updatedat= data.sortie ? data.sortie.updatedAt : '' data-submit=data.sortie ? data.sortie.submit : '')
									.d-flex.align-items-center
										img.me-2(src="/../../image/pdf.svg", alt="pdf" width="20px")
										span PDF
							li
								button.dropdown-item.downloadExcel(type='button' data-title=title data-id=id)
									.d-flex.align-items-center
										img.me-2(src="/../../image/excel.svg", alt="pdf" width="20px")
										span Excel
			.card-body
				.table-responsive
					table.table.thisTable.table-bordered(id=id data-title=title data-id=id data-align='center')
						tbody
							tr
								th(rowspan="2")
								th(colspan="2") Consultations réalisées
								th(rowspan="2") Nombre de patients pris en charge par l'équipe mobile
								th(colspan="4") Nombre de patients Référés
							tr
								th Masculin
								th Féminin
								th Consultation spécialisée
								th Urgence
								th Examen De laboratoire
								th Examen radiologique
							tr
								th Moins de 5ans
								td= consultationMedical.consultationRealise.m.moins5ans
								td= consultationMedical.consultationRealise.f.moins5ans
								td= consultationMedical.pecParPem.moins5ans
								td= consultationMedical.reference.consSpec.moins5ans
								td= consultationMedical.reference.urgence.moins5ans
								td= consultationMedical.reference.exLabo.moins5ans
								td= consultationMedical.reference.exRadio.moins5ans
							tr
								th Entre 5ans et 18ans
								td= consultationMedical.consultationRealise.m.entre5ans18ans
								td= consultationMedical.consultationRealise.f.entre5ans18ans
								td= consultationMedical.pecParPem.entre5ans18ans
								td= consultationMedical.reference.consSpec.entre5ans18ans
								td= consultationMedical.reference.urgence.entre5ans18ans
								td= consultationMedical.reference.exLabo.entre5ans18ans
								td= consultationMedical.reference.exRadio.entre5ans18ans
							tr
								th Plus de 18ans
								td= consultationMedical.consultationRealise.m.plus18ans
								td= consultationMedical.consultationRealise.f.plus18ans
								td= consultationMedical.pecParPem.plus18ans
								td= consultationMedical.reference.consSpec.plus18ans
								td= consultationMedical.reference.urgence.plus18ans
								td= consultationMedical.reference.exLabo.plus18ans
								td= consultationMedical.reference.exRadio.plus18ans
							tr
								th Total
								td= parseInt(consultationMedical.consultationRealise.m.moins5ans) + parseInt(consultationMedical.consultationRealise.m.entre5ans18ans) + parseInt(consultationMedical.consultationRealise.m.plus18ans)
								td= parseInt(consultationMedical.consultationRealise.f.moins5ans) + parseInt(consultationMedical.consultationRealise.f.entre5ans18ans) + parseInt(consultationMedical.consultationRealise.f.plus18ans)
								td= parseInt(consultationMedical.pecParPem.moins5ans) + parseInt(consultationMedical.pecParPem.entre5ans18ans) + parseInt(consultationMedical.pecParPem.plus18ans)
								td= parseInt(consultationMedical.reference.consSpec.moins5ans) + parseInt(consultationMedical.reference.consSpec.entre5ans18ans) + parseInt(consultationMedical.reference.consSpec.plus18ans)
								td= parseInt(consultationMedical.reference.urgence.moins5ans) + parseInt(consultationMedical.reference.urgence.entre5ans18ans) + parseInt(consultationMedical.reference.urgence.plus18ans)
								td= parseInt(consultationMedical.reference.exLabo.moins5ans) + parseInt(consultationMedical.reference.exLabo.entre5ans18ans) + parseInt(consultationMedical.reference.exLabo.plus18ans)
								td= parseInt(consultationMedical.reference.exRadio.moins5ans) + parseInt(consultationMedical.reference.exRadio.entre5ans18ans) + parseInt(consultationMedical.reference.exRadio.plus18ans)
							tr
								th(colspan="7") Budget estimé en médicaments dispensés
								td= consultationMedical.budgetMedicamentDispenseEm