if (santeMaternelle)
	//- VARIABLES
	-var title = 'Santé maternelle', id = 'santeMaternelle'
	//- LAYOUTS
	.col-12
		.card
			.card-body
				.d-flex.align-items-center.justify-content-between
					.d-flex.align-items-center.fw-bold
						ion-icon.text-1.fs-6.me-2(name='woman-outline')
						span.fs-7.text-dark= title
					//- download pdf / excel
					.btn-group.shadow-0(role='group')
						button.btn.btn-sm.btn-light(type='button' data-bs-toggle='dropdown' aria-expanded='false')
							<ion-icon class="fs-5" name="download-outline"></ion-icon>
						ul.dropdown-menu.shadow.border
							li
								button.dropdown-item.downloadSortiePdf(type='button' data-id=id data-region=document.region data-province=document.province data-csr=document.csr data-category=document.category data-trimestre=trimestre data-createdat=data.sortie ? data.sortie.createdAt : data.trimestre.createdAt data-updatedat= data.sortie ? data.sortie.updatedAt : '' data-submit=data.sortie ? data.sortie.submit : '')
									.d-flex.align-items-center
										img.me-2(src="/../../image/pdf.svg", alt="pdf" width="20px")
										span PDF
							li
								button.dropdown-item.downloadExcel(type='button' data-title=title data-id=id)
									.d-flex.align-items-center
										img.me-2(src="/../../image/excel.svg", alt="pdf" width="20px")
										span Excel
			.card-body
				.table-responsive
					table.table.thisTable.table-bordered(id=id data-title=title data-id=id data-align="left")
						tbody
							tr
								th(colspan="3") Nombre de femmes prises en charge
								td.text-center= santeMaternelle.femmePriseCharge
							tr
								th(rowspan="6" style="vertical-align: middle;") CPN
								th(rowspan="3" style="vertical-align: middle;") Nouvelles inscrites
								th.text-center T1
								td.text-center(style="vertical-align: middle;")= santeMaternelle.cpn.nouvelleInscrite.t1
							tr
								th.text-center T2
								td.text-center(style="vertical-align: middle;")= santeMaternelle.cpn.nouvelleInscrite.t2
							tr
								th.text-center T3 
								td.text-center(style="vertical-align: middle;")= santeMaternelle.cpn.nouvelleInscrite.t3
							tr
								th(rowspan="3" style="vertical-align: middle;") 
								th.text-center T1
								td.text-center(style="vertical-align: middle;")= santeMaternelle.cpn.ancienneInscrite.t1
							tr
								th.text-center T2
								td.text-center(style="vertical-align: middle;")= santeMaternelle.cpn.ancienneInscrite.t2
							tr
								th.text-center T3 
								td.text-center(style="vertical-align: middle;")= santeMaternelle.cpn.ancienneInscrite.t3
							tr
								th(colspan="3") Autres consultations
								td.text-center= santeMaternelle.autreConsultation
							tr
								th(colspan="3") Nombre de Grossesses à risque (GAR) dépistées
								td.text-center= santeMaternelle.garDepiste
							tr
								th(colspan="3") Nombre de femmes examinées en post natal
								td.text-center= santeMaternelle.femmeExaminePostNatal
							tr
								th(colspan="3") Vaccination antitétanique (VAT)
								td.text-center= santeMaternelle.vat
							tr
								th(colspan="3") Nombre de femmes référées
								td.text-center= santeMaternelle.reference