extends ../profile
 
block tail
	//- LIBRARY
	script(src='/../../js/region/jquery-jvectormap-2.0.5.min.js')
	script(src='/../../js/region/toggleMap.js')
	//- MAP
	script(src='/../../js/region/region/map.js')
	script(src='/../../js/region/province/map.js')
	//- CARTE
	script(src='/../../js/region/region/carte/planificationFamiliale.js')
	script(src='/../../js/region/province/carte/planificationFamiliale.js')
	//- CHART
	script(src='/../../js/region/province/chart/planificationFamiliale.js')

block main
	.row.g-3#data(data-code=data.document.codeRegion data-list=provinceList)
		.col-12
			include ../../util/snippet/titleDashboard
		.col-12
			.d-flex.flex-wrap
				.dropdown.me-2
					button#dropdownPreview.btn.btn-sm.text-dark.bg-8.dropdown-toggle(type='button' data-bs-toggle='dropdown' aria-expanded='false')
						| Division de la carte
					ul.dropdown-menu(aria-labelledby='dropdownPreview')
						li.list-group-item.dropdown-item
							input#previewZone1.form-check-input(type='radio' name='previewZone' value="regional" checked)
							label.form-check-label(for='previewZone1') présentation par région
						li.list-group-item.dropdown-item
							input#previewZone2.form-check-input(type='radio' name='previewZone' value="provincial")
							label.form-check-label(for='previewZone2') présentation par province

				.dropdown
					button#dropdownPreview.btn.btn-sm.text-dark.bg-8.dropdown-toggle(type='button' data-bs-toggle='dropdown' data-bs-auto-close="outside" aria-expanded='false')
						| data
					ul.dropdown-menu(aria-labelledby='dropdownPreview')
						li.list-group-item.dropdown-item
							input.form-check-input.me-1(type='radio' name='data' value='pilule' checked)
							span Pilule
						li.list-group-item.dropdown-item
							input.form-check-input.me-1(type='radio' name='data' value='injectable')
							span Progestatifs Injectables
						li.list-group-item.dropdown-item
							input.form-check-input.me-1(type='radio' name='data' value='diu')
							span DIU
						li.list-group-item.dropdown-item
							input.form-check-input.me-1(type='radio' name='data' value='condom')
							span condom
						li.list-group-item.dropdown-item
							input.form-check-input.me-1(type='radio' name='data' value='reference')
							span Références
		//- ---------------- map
		.col-12
			.card.card-body
				.row.g-3
					.col-12
						.d-flex.align-items-center.fs-7
							<ion-icon name="stats-chart-outline"  class="me-2 text-1"></ion-icon>
							span.text-dark  Planification familiale
					.col-12
						span#title.badge.bg-5  Pilule
					.col-12.thisRegion
						#dataRegion(data-carte=JSON.stringify(data.carte.region) )
							#region-map(style="width: 100%; height: 400px")
					.col-12.thisProvince
						#dataProvince(data-carte=JSON.stringify(data.carte.province) )
							#province-map(style="width: 100%; height: 400px;")
					.col-12
						#province-chart(data-province=JSON.stringify(province))