if (ressourceHumain)
	//- VARIABLES
	-var title = 'Ressources humaines', id = 'ressourceHumain'
	//- LAYOUTS
	.col-12
		.card
			.card-body
				.d-flex.align-items-center.justify-content-between
					.d-flex.align-items-center.fw-bold
						ion-icon.text-1.fs-6.me-2(name='people-outline')
						span.fs-7.text-dark= title
					//- download pdf / excel
					.btn-group.shadow-0(role='group')
						button.btn.btn-sm.btn-light(type='button' data-bs-toggle='dropdown' aria-expanded='false')
							<ion-icon class="fs-5" name="download-outline"></ion-icon>
						ul.dropdown-menu.shadow.border
							li
								button.dropdown-item.downloadPlanActionPdf(type='button' data-id=id data-region=data.document.region data-province=data.document.province data-csr=document.csr data-category=data.document.category  data-createdat=data.planAction.createdAt data-updatedat=data.planAction.updatedAt data-submit=data.planAction.submit)
									.d-flex.align-items-center
										img.me-2(src="/../../image/pdf.svg", alt="pdf" width="20px")
										span PDF
							li
								button.dropdown-item.downloadExcel(type='button' data-title=title data-id=id)
									.d-flex.align-items-center
										img.me-2(src="/../../image/excel.svg", alt="pdf" width="20px")
										span Excel
			.card-body
				.table-responsive
					table.table.thisTable.table-bordered(id=id data-title=title data-id=id data-align='center')
						tbody
							tr
								th
								th Médecin
								th Infirmière(er)
								th Sage Femme
								th Technicien
								th Chauffeur
								th Ressources humaines d'appuie
							tr
								th.text-start Mode Fixe
								td=ressourceHumain.fixe.medecin
								td=ressourceHumain.fixe.infirmier
								td=ressourceHumain.fixe.sageFemme
								td=ressourceHumain.fixe.technicien
								td=ressourceHumain.fixe.chauffeur
								td=ressourceHumain.fixe.appuie
							tr
								th.text-start Mode Mobile
								td=ressourceHumain.mobile.medecin
								td=ressourceHumain.mobile.infirmier
								td=ressourceHumain.mobile.sageFemme
								td=ressourceHumain.mobile.technicien
								td=ressourceHumain.mobile.chauffeur
								td=ressourceHumain.mobile.appuie
							tr
								th.text-start(colspan="6") Nombre d’équipes mobile opérationnelle 
								td=ressourceHumain.mobile.emOperationnelle
								